packages/
Play.Catalog/.vscode/
Play.Catalog/src/Play.Catalog.Service/.vs/
Play.Catalog/src/Play.Catalog.Service/bin/
Play.Catalog/src/Play.Catalog.Service/obj/
Play.Common/.vscode/
Play.Common/src/Play.Common/
Play.Common/src/Play.Common/bin/
Play.Common/src/Play.Common/obj/
*.json
